.mini-nav{
    background-color: black;
    color: lightslategray;
}
#body{
    position:relative;
    @media screen {width: 700px;
        
    }

}
.button{
    background-color: aliceblue;
    display: flex;
    gap: 100px;
}
button{
    border: solid 1px aliceblue;

    

}
#hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('photos/home.png');
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size: 100% 100%;
    background-color: lightslategrey;
    width: 100%;
    height: 480PX;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #ddd;
    font-size: 50px;  


}
.cylinder{
    display: flex;
    gap: 15px;
}
.figure{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 150;
 
}
.service{
    display: flex;
    gap: 10px;
}
.text{
    display: flex;
    gap: 40px;
}
.background-image{
    background-image: url(photos/cartons.webp);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
    

}
.b-text{
    width: 100%;
    height: 480PX;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color:black;
    font-size: 50px; 
    font-size: medium;
    display: flex;
    
}
.box-text{
    background-color: aliceblue;
    border: solid 12px white;
    height: 400px;
    width:80%;
}
#form{
    display: flex;
    
}
.quotation{
    display: flex;
    gap: 20px;
    text-align: center;
    direction:rtl;
    unicode-bidi: bidi-override;
}
#big-hero{
    display: flex;
    gap: 10px;


}
.hero-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('photos/man.jpeg');
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size: 100% 100%;
    background-color: lightslategrey;
    width: 100%;
    height: 300PX;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #ddd;


}
.hero-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('photos/two.jpg');
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size: 100% 100%;
    background-color: lightslategrey;
    width: 100%;
    height: 300PX;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #ddd;


}
.hero-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('photos/Moving.webp');
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size: 100% 100%;
    background-color: lightslategrey;
    width: 100%;
    height: 300PX;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #ddd;


}
#footer{
    display: flex;
    gap: 50px;
    background-color: black;
    color: #ddd;
    padding: 20%;
}
.page{
    background-color: black;
    color: #ddd;
    padding-left: 20%;
}
#bottom{
    margin-top: 20px;
    
}